h1 {
    font-family: 'Courier New', Courier, monospace;
    color: navy;
}

ul {
    overflow: hidden;
    background-color: black;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 600px;
}

li {
    float: left
}

li a {
    color: rgb(95, 158, 160);
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: crimson;
}

li a:hover {
    background-color: darkslategray;
}

img {
    height: 150px;
    width: 600px;
}